main {
	// 404 Not Found Page Container
	.not-found {
		text-align: center;
		margin-bottom: 2rem;
		// Page Title
		h1 {
			font-size: 4rem;
			margin-bottom: 2rem;
		}
		// Page Desc.
		h2 {
			font-size: 2rem;
			margin-bottom: 2rem;
		}
		// Page Image (404)
		img {
			width: 100%;
			margin-bottom: 2rem;
		}
		// Go Back Link
		a {
			font-size: 1.5rem;
			padding: 10px;
		}
	}
}
