// Reset Browser Styling
* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
// Selection Styling
*::selection {
	background: lighten(@main-blue, 35%);
}
*::-moz-selection {
	background: lighten(@main-blue, 35%);
}
// Fonts & Colours
body {
	background-color: @main-white;
	color: @main-black;
	font-family: "Nunito", sans-serif;
}
