// Reset Browser Styling
* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
// Selection Styling
*::selection {
	background: lighten(@main-blue, 35%);
}
*::-moz-selection {
	background: lighten(@main-blue, 35%);
}
// Fonts & Colours
body {
	background-color: @main-white;
	color: @main-black;
	font-family: "Nunito", sans-serif;
	// Main Page Content
	main {
		max-width: 800px;
		margin: 0 auto;
		padding: 1rem 3rem 0 3rem;
		// Link styling in the main page component
		a:not(.post-item) {
			text-decoration: none;
			font-weight: bold;
			color: @main-blue;
			border-bottom: 2px solid lighten(@main-blue, 30%);
		}
		// Hover effect for the links in the main page component
		a:not(.post-item):hover {
			background-color: lighten(@main-blue, 35%);
			border-bottom: 2px solid lighten(@main-blue, 10%);
		}
	}
}
// Page Heading
.page-heading {
	display: grid;
	align-items: center;
	grid-gap: 20px;
	font-size: 2rem;
	padding: 0 1rem;
	text-align: center;
	grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
}
// Page Heading Lines
.page-heading::before,
.page-heading:after {
	content: "";
	border-top: 3px solid lighten(@main-black, 60%);
	border-radius: 5px;
}
// Mobile Breakpoint
@media screen and (max-width: 576px) {
	// Hide Horizontal Overflow
	body {
		overflow-x: hidden;
	}
}
