nav {
	padding: 1rem;
	font-size: 1.3rem;
	// Nav Link
	.nav-link {
		color: @main-black;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: 3px;
		margin-left: 1.3rem;
		padding: 1rem 0;
		display: inline-block;
		position: relative;
	}
	// Nav Link Float Right
	.float-right {
		float: right;
		margin-right: 1.3rem;
	}
	// Nav Link Underline
	.nav-link::before {
		transition: 300ms;
		height: 5px;
		content: "";
		position: absolute;
		border-radius: 5px;
		width: 0;
		bottom: 10px;
		right: 0;
		background: rgb(255, 89, 89);
		background: -moz-linear-gradient(
			90deg,
			rgba(255, 89, 89, 1) 0%,
			rgba(255, 150, 89, 1) 100%
		);
		background: -webkit-linear-gradient(
			90deg,
			rgba(255, 89, 89, 1) 0%,
			rgba(255, 150, 89, 1) 100%
		);
		background: linear-gradient(
			90deg,
			rgba(255, 89, 89, 1) 0%,
			rgba(255, 150, 89, 1) 100%
		);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff5959",endColorstr="#ff9659",GradientType=1);
	}
	// Nav Link Underline Hover
	.nav-link:hover::before {
		left: 0;
		width: 100%;
	}
	// Nav Link Underline Active
	.active::before {
		bottom: 10px;
		width: 100%;
	}
	// Nav Toggler
	.nav-toggler {
		display: none;
		cursor: pointer;
		background: none;
		outline: none;
		div {
			width: 25px;
			height: 3px;
			margin: 5px;
			border-radius: 5px;
			background-color: @main-black;
			transition: all 0.3s ease;
		}
	}
	// Nav Toggler Animation
	.toggle {
		div:first-of-type {
			transform: rotate(-45deg) translate(-5px, 6px);
		}
		div:nth-child(2) {
			opacity: 0;
		}
		div:last-of-type {
			transform: rotate(45deg) translate(-5px, -6px);
		}
	}
	// Mobile Breakpoint
	@media screen and (max-width: 576px) {
		// Hide Links
		.nav-link {
			opacity: 0;
			margin: 0;
		}
		// Show Nav Togger
		.nav-toggler {
			display: inline-block;
		}
		// Mobile Nav Links
		.nav-links {
			position: absolute;
			right: 0;
			top: auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			transform: translateX(-100%);
			transition: transform 0.5s ease-in;
			z-index: 1;
			.float-right {
				margin-right: 0;
			}
		}
		// Move Nav When Toggled
		.nav-toggled {
			transform: translateX(0) !important;
		}
	}
}
// Mobile Navigation Bar Links - Fade-In Animation
@keyframes navLinkFadeIn {
	from {
		opacity: 0;
		transform: translateX(-50px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

// Page Content - Slide Out Animation
@keyframes movePageContentRight {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(100%);
	}
}

// Page Content - Slide In Animation
@keyframes movePageContentLeft {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0);
	}
}
